## Importing libraries

In [112]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [113]:
charac_df = pd.read_csv("archive/caracteristics.csv", encoding='ISO-8859-1')
users_df = pd.read_csv("archive/users.csv")
#vehicles_df = pd.read_csv("archive/vehicles.csv")
places_df = pd.read_csv("archive/places.csv")
holidays_df = pd.read_csv("archive/holidays.csv")

## Renaming columns
The columns in each files are given more meaningful names

#### Characteristics renaming

In [114]:
charac_columns = {"an":"year",
                  "mois":"month",
                  "jour":"day",
                  "hrmn":"time",
                  "lum":"lighting",
                  "agg":"agg??",
                  "int":"intersection",
                  "atm":"atmosphere",
                  "col":"collision",
                  "com":"municipality",
                  "adr":"postal_address",
                  "gps":"GPS",
                  "lat":"latitude",
                  "long":"longitude",
                  "dep":"department"}

charac_df.rename(columns=charac_columns, inplace=True)

In [115]:
charac_df.head()

,Num_Acc,year,month,day,time,lighting,agg??,intersection,atmosphere,collision,municipality,postal_address,GPS,latitude,longitude,department
0,201600000001,16,2,1,1445,1,2,1,8.0,3.0,5.0,"46, rue Sonneville",M,0.0,0.0,590
1,201600000002,16,3,16,1800,1,2,6,1.0,6.0,5.0,1a rue du cimetière,M,0.0,0.0,590
2,201600000003,16,7,13,1900,1,1,1,1.0,6.0,11.0,NaN,M,0.0,0.0,590
3,201600000004,16,8,15,1930,2,2,1,7.0,3.0,477.0,52 rue victor hugo,M,0.0,0.0,590
4,201600000005,16,12,23,1100,1,2,3,1.0,3.0,11.0,rue Joliot curie,M,0.0,0.0,590

#### Users renaming

In [116]:
users_columns = {"place":"place??",
                 "catu":"user_category",
                 "grav":"accident_severity",
                 "sexe":"user_sex",
                 "trajet":"trajet??",
                 "secu":"safety_equipt",
                 "locp":"pedestrian_loc",
                 "actp":"pedestrian_action",
                 "etatp":"pedestrian_company",
                 "an_nais":"an_nais??",
                 "num_veh":"vehicle_ID"}

users_df.rename(columns=users_columns, inplace=True)

In [117]:
users_df.head()

,Num_Acc,place??,user_category,accident_severity,user_sex,trajet??,safety_equipt,pedestrian_loc,pedestrian_action,pedestrian_company,an_nais??,vehicle_ID
0,201600000001,1.0,1,1,2,0.0,11.0,0.0,0.0,0.0,1983.0,B02
1,201600000001,1.0,1,3,1,9.0,21.0,0.0,0.0,0.0,2001.0,A01
2,201600000002,1.0,1,3,1,5.0,11.0,0.0,0.0,0.0,1960.0,A01
3,201600000002,2.0,2,3,1,0.0,11.0,0.0,0.0,0.0,2000.0,A01
4,201600000002,3.0,2,3,2,0.0,11.0,0.0,0.0,0.0,1962.0,A01

#### Places renaming

In [118]:
places_columns = {"catr":"road_category",
                  "voie":"road_number",
                  "v1":"index_route_number",
                  "v2":"index_road",
                  "circ":"traff_regime",
                  "nbv":"no_traff_lanes",
                  "vosp":"reserved_lane",
                  "prof":"longitud_profile",
                  "pr":"home_PR_number",
                  "pr1":"distance_to_PR",
                  "plan":"drawing_plan",
                  "lartpc":"solid_land",
                  "larrout":"road_width",
                  "surf":"surface_cond",
                  "infra":"infrastructure",
                  "situ":"acc_situation",
                  "env1":"school_point"}

places_df.rename(columns=places_columns, inplace=True)

In [119]:
places_df.head()

,Num_Acc,road_category,road_number,index_route_number,index_road,traff_regime,no_traff_lanes,home_PR_number,distance_to_PR,reserved_lane,longitud_profile,drawing_plan,solid_land,road_width,surface_cond,infrastructure,acc_situation,school_point
0,201600000001,3.0,39,NaN,NaN,2.0,0.0,NaN,NaN,0.0,1.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0
1,201600000002,3.0,39,NaN,NaN,1.0,0.0,NaN,NaN,0.0,1.0,2.0,0.0,58.0,1.0,0.0,1.0,0.0
2,201600000003,3.0,1,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,3.0,0.0,68.0,2.0,0.0,3.0,99.0
3,201600000004,4.0,0,NaN,NaN,2.0,0.0,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,99.0
4,201600000005,4.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0

### Dropping some columns
Some columns can be dropped straight away as they contain information that is quite irrelevant to our work

In [120]:
charac_df.drop(columns=["agg??", "department", "municipality"], inplace=True)
users_df.drop(columns=["place??", "trajet??", "an_nais??", "safety_equipt"], inplace=True)
places_df.drop(columns=["road_number", "index_route_number", "index_road", "home_PR_number",
                        "distance_to_PR", "solid_land", "road_width", "school_point"], inplace=True)

## Mapping of feature's values
To make the datasets and plots easier to understand, the values of each columns are mapped to their corresponding meaning

#### Characteristics mapping

In [121]:
# Creating the localisation column from postal address
charac_df["localisation"] = charac_df["postal_address"].isnull()

In [122]:
localisation_map = {True:"Out of agglomeration", False:"In built-up areas"}

lighting_map = {1:"Full day", 2:"Twilight or dawn", 3:"Night without public lighting",
            4:"Night with public lighting not lit", 5:"Night with public lighting on"}

intersection_map ={1:"Out of intersection", 2:"X Intersection", 3:" T Intersection",
                   4:"Y Intersection", 5:"More than 4 branches", 6:"Giratory",
                   7:"Place", 8:"Level crossing", 9:"Other intersection"}

atmosphere_map = {1:"Normal", 2:"Light rain", 3:"Heavy rain",
                  4:"Snow - hail", 5:"Fog - smoke", 6:"Strong wind - storm",
                  7:"Dazzling weather", 8:"Cloudy weather", 9:"Other"}

collision_map = {1:"Frontal", 2:"Rear", 3:"By the side", 4:"Chain",
                 5:"Multiple", 6:"Other", 7:"Without"}

GPS_map = {"M":"Métropole", "A":"Antilles (Martinique or Guadeloupe)",
           "G":"Guyane", "R":"Réunion", "Y":"Mayotte"}


charac_df["localisation"] = charac_df["localisation"].map(localisation_map)
charac_df["lighting"] = charac_df["lighting"].map(lighting_map)
charac_df["intersection"] = charac_df["intersection"].map(intersection_map)
charac_df["atmosphere"] = charac_df["atmosphere"].map(atmosphere_map)
charac_df["collision"] = charac_df["collision"].map(collision_map)
charac_df["GPS"] = charac_df["GPS"].map(GPS_map)

#### Users mapping

In [123]:
user_category_map = {1:"Driver", 2:"Passenger", 3:"Pedestrian", 4:"Pedestrian in rollerblade or scooter"}

accident_severity_map = {1:"Unscathed", 2:"Killed", 3:"Hospitalized wounded", 4:"Light injury"}

user_sex_map = {1:"Male", 2:"Female"}

pedestrian_loc_map = {1:"On pavement", 2:"On pavement", 3:"Crossing No signaling", 4:"Crossing light signaling",
                      5:"On the sidewalk", 6:"On the verge", 7:"On refuge or BAU", 8:"On against aisle"}

pedestrian_action_map = {0:"not specified", 1:"Meaning bumping vehicle", 2:"Opposite direction of the vehicle",
                         3:"Crossing", 4:"Masked", 5:"Playing - running", 6:"With animal", 9:"Other"}

pedestrian_company_map = {1:"Only", 2:"Accompanied", 3:"In a group"}

users_df["user_category"] = users_df["user_category"].map(user_category_map)
users_df["accident_severity"] = users_df["accident_severity"].map(accident_severity_map)
users_df["user_sex"] = users_df["user_sex"].map(user_sex_map)
users_df["pedestrian_loc"] = users_df["pedestrian_loc"].map(pedestrian_loc_map)
users_df["pedestrian_action"] = users_df["pedestrian_action"].map(pedestrian_action_map)
users_df["pedestrian_company"] = users_df["pedestrian_company"].map(pedestrian_company_map)

#### Places mapping

In [124]:
road_category_map = {1:"Highway", 2:"National Road", 3:"Departmental Road",
                4:"Communal Way", 5:"Off public network",
                6:"Parking lot open to public traffic", 7:"other"}

traff_regime_map = {1:"One way", 2:"Bidirectional", 3:"Separated carriageways",
                4:"With variable assignment channels"}

reserved_lane_map ={1:"Bike path", 2:"Cycle Bank", 3:"Reserved channel"}

longitud_profile_map = {1:"Dish", 2:"Slope", 3:"Hilltop", 4:"Hill bottom"}

drawing_plan_map = {1:"Straight part", 2:"Curved left", 3:"Curved right", 4:"In S"}

surface_cond_map = {1:"normal", 2:"wet", 3:"puddles", 4:"flooded", 5:"snow",
                6:"mud", 7:"icy", 8:"fat - oil", 9:"other"}

infrastructure_map = {1:"Underground - tunnel", 2:"Bridge - autopont", 3:"Exchanger or connection brace",
                     4:"Railway", 5:"Carrefour arranged", 6:"Pedestrian area", 7:"Toll zone"}

acc_situation_map = {1:"On the road", 2:"On emergency stop band", 3:"On the verge", 4:"On the sidewalk", 5:"On bike path"}

places_df["road_category"] = places_df["road_category"].map(road_category_map)
places_df["traff_regime"] = places_df["traff_regime"].map(traff_regime_map)
places_df["reserved_lane"] = places_df["reserved_lane"].map(reserved_lane_map)
places_df["longitud_profile"] = places_df["longitud_profile"].map(longitud_profile_map)
places_df["drawing_plan"] = places_df["drawing_plan"].map(drawing_plan_map)
places_df["surface_cond"] = places_df["surface_cond"].map(surface_cond_map)
places_df["infrastructure"] = places_df["infrastructure"].map(infrastructure_map)
places_df["acc_situation"] = places_df["acc_situation"].map(acc_situation_map)

## Merging datasets
All four datasets can be merged with the Num_Acc (accident ID) column

In [125]:
merged_df = pd.merge(charac_df, users_df, on="Num_Acc", how="left")
merged_df.head()

,Num_Acc,year,month,day,time,lighting,intersection,atmosphere,collision,postal_address,...,latitude,longitude,localisation,user_category,accident_severity,user_sex,pedestrian_loc,pedestrian_action,pedestrian_company,vehicle_ID
0,201600000001,16,2,1,1445,Full day,Out of intersection,Cloudy weather,By the side,"46, rue Sonneville",...,0.0,0.0,In built-up areas,Driver,Unscathed,Female,NaN,not specified,NaN,B02
1,201600000001,16,2,1,1445,Full day,Out of intersection,Cloudy weather,By the side,"46, rue Sonneville",...,0.0,0.0,In built-up areas,Driver,Hospitalized wounded,Male,NaN,not specified,NaN,A01
2,201600000002,16,3,16,1800,Full day,Giratory,Normal,Other,1a rue du cimetière,...,0.0,0.0,In built-up areas,Driver,Hospitalized wounded,Male,NaN,not specified,NaN,A01
3,201600000002,16,3,16,1800,Full day,Giratory,Normal,Other,1a rue du cimetière,...,0.0,0.0,In built-up areas,Passenger,Hospitalized wounded,Male,NaN,not specified,NaN,A01
4,201600000002,16,3,16,1800,Full day,Giratory,Normal,Other,1a rue du cimetière,...,0.0,0.0,In built-up areas,Passenger,Hospitalized wounded,Female,NaN,not specified,NaN,A01

In [126]:
print(f"Merged df shape: {merged_df.shape}")
print(f"Charac df shape: {charac_df.shape}")
print(f"Users df shape: {users_df.shape}")

Merged df shape: (1876005, 21)
Charac df shape: (839985, 14)
Users df shape: (1876005, 8)

In [127]:
merged_df = pd.merge(merged_df, places_df, on="Num_Acc", how="left")
merged_df.head()

,Num_Acc,year,month,day,time,lighting,intersection,atmosphere,collision,postal_address,...,vehicle_ID,road_category,traff_regime,no_traff_lanes,reserved_lane,longitud_profile,drawing_plan,surface_cond,infrastructure,acc_situation
0,201600000001,16,2,1,1445,Full day,Out of intersection,Cloudy weather,By the side,"46, rue Sonneville",...,B02,Departmental Road,Bidirectional,0.0,NaN,Dish,Curved right,normal,NaN,On the road
1,201600000001,16,2,1,1445,Full day,Out of intersection,Cloudy weather,By the side,"46, rue Sonneville",...,A01,Departmental Road,Bidirectional,0.0,NaN,Dish,Curved right,normal,NaN,On the road
2,201600000002,16,3,16,1800,Full day,Giratory,Normal,Other,1a rue du cimetière,...,A01,Departmental Road,One way,0.0,NaN,Dish,Curved left,normal,NaN,On the road
3,201600000002,16,3,16,1800,Full day,Giratory,Normal,Other,1a rue du cimetière,...,A01,Departmental Road,One way,0.0,NaN,Dish,Curved left,normal,NaN,On the road
4,201600000002,16,3,16,1800,Full day,Giratory,Normal,Other,1a rue du cimetière,...,A01,Departmental Road,One way,0.0,NaN,Dish,Curved left,normal,NaN,On the road

In [128]:
print(f"Merged df shape: {merged_df.shape}")
print(f"Places df shape: {places_df.shape}")

Merged df shape: (1876005, 30)
Places df shape: (839985, 10)

# Featuring engineering the merged dataframe

In [129]:
df = merged_df
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1876005 entries, 0 to 1876004
Data columns (total 30 columns):
 #   Column              Dtype
---  ------              -----
 0   Num_Acc             int64
 1   year                int64
 2   month               int64
 3   day                 int64
 4   time                int64
 5   lighting            object
 6   intersection        object
 7   atmosphere          object
 8   collision           object
 9   postal_address      object
 10  GPS                 object
 11  latitude            float64
 12  longitude           object
 13  localisation        object
 14  user_category       object
 15  accident_severity   object
 16  user_sex            object
 17  pedestrian_loc      object
 18  pedestrian_action   object
 19  pedestrian_company  object
 20  vehicle_ID          object
 21  road_category       object
 22  traff_regime        object
 23  no_traff_lanes      float64
 24  reserved_lane       object
 25  longitud_profile    object
 26  drawing_plan        object
 27  surface_cond        object
 28  infrastructure      object
 29  acc_situation       object
dtypes: float64(2), int64(5), object(23)
memory usage: 443.7+ MB

### Handling date and time
- The day, month and year columns can be combined to a single datetime object

In [130]:
df["date"] = pd.to_datetime(df["day"].astype(str) + "/" + df["month"].astype(str) + "/" + df["year"].astype(str))
df.drop(columns=["day", "month", "year"], inplace=True)

# Move the new date column to the front
df.insert(1, "date", df.pop("date"))

df.head()

,Num_Acc,date,time,lighting,intersection,atmosphere,collision,postal_address,GPS,latitude,...,vehicle_ID,road_category,traff_regime,no_traff_lanes,reserved_lane,longitud_profile,drawing_plan,surface_cond,infrastructure,acc_situation
0,201600000001,2016-01-02,1445,Full day,Out of intersection,Cloudy weather,By the side,"46, rue Sonneville",Métropole,0.0,...,B02,Departmental Road,Bidirectional,0.0,NaN,Dish,Curved right,normal,NaN,On the road
1,201600000001,2016-01-02,1445,Full day,Out of intersection,Cloudy weather,By the side,"46, rue Sonneville",Métropole,0.0,...,A01,Departmental Road,Bidirectional,0.0,NaN,Dish,Curved right,normal,NaN,On the road
2,201600000002,2016-03-16,1800,Full day,Giratory,Normal,Other,1a rue du cimetière,Métropole,0.0,...,A01,Departmental Road,One way,0.0,NaN,Dish,Curved left,normal,NaN,On the road
3,201600000002,2016-03-16,1800,Full day,Giratory,Normal,Other,1a rue du cimetière,Métropole,0.0,...,A01,Departmental Road,One way,0.0,NaN,Dish,Curved left,normal,NaN,On the road
4,201600000002,2016-03-16,1800,Full day,Giratory,Normal,Other,1a rue du cimetière,Métropole,0.0,...,A01,Departmental Road,One way,0.0,NaN,Dish,Curved left,normal,NaN,On the road

- The time column can be split into hour and minute

In [131]:
df['time'] = df['time'].astype(str)

hour = df['time'].apply(lambda x: x[:-2])
minute = df['time'].apply(lambda x: x[-2:])

df.insert(2, "hour", hour)
df.insert(3, "minute", minute)

# Filling in missing hour values
df["hour"].replace(to_replace="", value="0", inplace=True)
df[df["hour"]==""].shape

df.drop(columns=["time"], inplace=True)
df.head()

,Num_Acc,date,hour,minute,lighting,intersection,atmosphere,collision,postal_address,GPS,...,vehicle_ID,road_category,traff_regime,no_traff_lanes,reserved_lane,longitud_profile,drawing_plan,surface_cond,infrastructure,acc_situation
0,201600000001,2016-01-02,14,45,Full day,Out of intersection,Cloudy weather,By the side,"46, rue Sonneville",Métropole,...,B02,Departmental Road,Bidirectional,0.0,NaN,Dish,Curved right,normal,NaN,On the road
1,201600000001,2016-01-02,14,45,Full day,Out of intersection,Cloudy weather,By the side,"46, rue Sonneville",Métropole,...,A01,Departmental Road,Bidirectional,0.0,NaN,Dish,Curved right,normal,NaN,On the road
2,201600000002,2016-03-16,18,00,Full day,Giratory,Normal,Other,1a rue du cimetière,Métropole,...,A01,Departmental Road,One way,0.0,NaN,Dish,Curved left,normal,NaN,On the road
3,201600000002,2016-03-16,18,00,Full day,Giratory,Normal,Other,1a rue du cimetière,Métropole,...,A01,Departmental Road,One way,0.0,NaN,Dish,Curved left,normal,NaN,On the road
4,201600000002,2016-03-16,18,00,Full day,Giratory,Normal,Other,1a rue du cimetière,Métropole,...,A01,Departmental Road,One way,0.0,NaN,Dish,Curved left,normal,NaN,On the road

### Checking for missing values

In [132]:
def check_missing_val(df):
    for column in df.columns:
        null_count = df.isnull()[column].sum()

        # Skips over complete coloumns
        if null_count == 0:
            continue

        total_count = df[column].shape[0]
        percentage = (null_count / total_count) * 100

        print(f'Percentage of missing values in {column}: {percentage}')
    
check_missing_val(df)

Percentage of missing values in intersection: 0.013486104781170627
Percentage of missing values in atmosphere: 0.0061833523897857415
Percentage of missing values in collision: 0.0012793142875418776
Percentage of missing values in postal_address: 17.97804376854006
Percentage of missing values in GPS: 55.18753947883934
Percentage of missing values in latitude: 55.63652548900456
Percentage of missing values in longitude: 55.63705853662437
Percentage of missing values in pedestrian_loc: 92.43594766538469
Percentage of missing values in pedestrian_action: 0.0945093429921562
Percentage of missing values in pedestrian_company: 92.04660968387611
Percentage of missing values in road_category: 1.779472869208771
Percentage of missing values in traff_regime: 5.090284940605169
Percentage of missing values in no_traff_lanes: 0.2165772479284437
Percentage of missing values in reserved_lane: 93.92000554369525
Percentage of missing values in longitud_profile: 7.5824957822607075
Percentage of missing values in drawing_plan: 6.633724323762463
Percentage of missing values in surface_cond: 3.1422624140127557
Percentage of missing values in infrastructure: 88.71858017435987
Percentage of missing values in acc_situation: 4.982769235689671

In [133]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# plt.figure(figsize=(10,5))
# sns.heatmap(df.isnull(), yticklabels=False, cbar=False)
# plt.show()

## Handling missing values

- Columns that contains over 50% missing values can be dropped

In [134]:
df.drop(columns=["GPS", "latitude", "longitude", "pedestrian_loc", "pedestrian_company",
                 "reserved_lane", "infrastructure"], inplace=True)

- Others can be filled with the mode

In [135]:
# Others can be filled with the mode
df['intersection'].fillna(value=df['intersection'].mode()[0], inplace=True)
df['atmosphere'].fillna(value=df['atmosphere'].mode()[0], inplace=True)
df['collision'].fillna(value=df['collision'].mode()[0], inplace=True)
df['pedestrian_action'].fillna(value=df['pedestrian_action'].mode()[0], inplace=True)
df['road_category'].fillna(value=df['road_category'].mode()[0], inplace=True)
df['traff_regime'].fillna(value=df['traff_regime'].mode()[0], inplace=True)
df['no_traff_lanes'].fillna(value=df['no_traff_lanes'].mode()[0], inplace=True)
df['longitud_profile'].fillna(value=df['longitud_profile'].mode()[0], inplace=True)
df['drawing_plan'].fillna(value=df['drawing_plan'].mode()[0], inplace=True)
df['surface_cond'].fillna(value=df['surface_cond'].mode()[0], inplace=True)
df['acc_situation'].fillna(value=df['acc_situation'].mode()[0], inplace=True)

# This column can be filled with a dummy variable, as the missing values signifies something
df['postal_address'].fillna(value="None", inplace=True)

In [136]:
check_missing_val(df)

In [137]:
df.to_csv("merged_dataset.csv")