In [11]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [31]:
charac_df = pd.read_csv("archive/caracteristics.csv", encoding='ISO-8859-1')

In [36]:
st_df = charac_df[["lat", "long"]]
st_df.rename(columns={'long':'lon'}, inplace=True)

In [37]:
st_df.fillna(0)
st_df.drop(st_df[(st_df['lat']==0) & (st_df['lon']==0)].index, inplace=True)
st_df.drop(st_df[st_df['lon'] == '-'].index, inplace=True)

In [38]:
st_df['lat'] = st_df['lat'].astype(float)
st_df['lon'] = st_df['lon'].astype(float)

In [39]:
st_df.head()

          lat       lon
21  5084579.0  226407.0
50  5068000.0  279300.0
51  5064100.0  271200.0
55  5070800.0  276500.0
57  5070266.0  262094.0

In [40]:
st_df.to_csv("streamlit_map_data.csv", index=False)